@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

:root {
  --bg-primary: rgb(18, 31, 113);
  --bg-secondary: rgb(50, 103, 168);
  --bd-radius: 12px;
  --c-standout: #41dfcc;
  --c-fade: rgba(240, 248, 255, 0.751);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--bg-primary);
  padding: 12px;

}

p,
h1,
h2 {
  text-align: center;
  color: #fff;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinIcon {
  animation: spin 1s ease-out infinite;
  font-size: 64px;
  color: #fff;
}